@import "helpers/_variable";
@import "helpers/_mixin";

@import "_reset";

@import "layout/_grid";
@import "layout/_structure";

@import "components/_animation";
@import "components/_bg";
@import "components/_btn";
@import "components/_font";
@import "components/_list";

@import "layout/_header";
@import "layout/_footer";
@import "layout/_index";

body {
  overflow: auto;
  min-width: 320px;
  position: relative;
}
