@charset 'utf-8';

/* ---------ANIMATION-------- */
@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@include keyframes(fadeOut) {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@include keyframes(wave) {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@include keyframes(blink) {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@include keyframes(heartBeat) {
  0% {
    transform: scale(0.9);
  }

  5% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.9);
  }

  15% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.9);
  }
}
@include keyframes(hint) {
  50% {
    @include translate(0, 10%);
  }
}
@include keyframes(bubble) {
  50% {
    @include transform(scale(1.05, 1.05) rotate(3deg) translateX(10%));
  }
}
@include keyframes(rotate) {
  0% {
    @include rotate(0);
  }

  100% {
    @include rotate(359);
  }
}
@include keyframes(star) {
  30% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
@include keyframes(airplane) {
  0% {
    @include transform(translate(-50%, 30%));
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    @include transform(translate(0%, 0%));
  }
}
@include keyframes(cloud) {
  30% {
    opacity: 0.5;
  }

  50% {
    @include transform(translate(15%, 0));
  }
}
@include keyframes(heart1) {
  0% {
    transform: translateY(40%) translateX(40%);
  }

  30% {
    opacity: 0.5;
  }

  50% {
    @include transform(translate(15%, 0));

    transform: translateY(-40%) translateX(-40%);
  }
}
@include keyframes(heart2) {
  0% {
    transform: scaleX(-1) translateY(40%) translateX(40%);
  }

  30% {
    opacity: 0.5;
  }

  50% {
    @include transform(translate(15%, 0));

    transform: scaleX(-1) translateY(-40%) translateX(-40%);
  }
}

@include keyframes(fadeInUp) {
  0% {
    opacity: 0;
    @include transform(translate(0, 30px));
  }

  100% {
    opacity: 1;
    @include transform(translate(0, 0));
  }
}
@include keyframes(fadeInUpMore) {
  0% {
    opacity: 0;
    @include transform(translate(0, 100px));
  }

  100% {
    opacity: 1;
    @include transform(translate(0, 0));
  }
}
@include keyframes(fadeInDown) {
  0% {
    opacity: 0;
    @include transform(translate(0, -30px));
  }

  100% {
    opacity: 1;
    @include transform(translate(0, 0));
  }
}
@include keyframes(slideInUp) {
  0% {
    @include transform(translate(0, 10%));
  }

  100% {
    @include transform(translate(0, 0));
  }
}
@include keyframes(slideInDown) {
  0% {
    @include transform(translate(0, -10%));
  }

  100% {
    @include transform(translate(0, 0));
  }
}
@include keyframes(fadeInKvTitle) {
  0% {
    opacity: 0;
    @include scale(0.5, 0.5);
  }

  80% {
    opacity: 1;
    @include scale(1.05, 1.05);
  }

  100% {
    opacity: 1;
    @include scale(1, 1);
  }
}
@include keyframes(fadeInKvTitleWithHeartBeat) {
  0% {
    opacity: 0;
    @include scale(0.5, 0.5);
  }

  40% {
    opacity: 1;
    @include scale(1.05, 1.05);
  }

  60% {
    transform: scale(0.9);
  }

  80% {
    opacity: 1;
    @include scale(1.05, 1.05);
  }

  100% {
    opacity: 1;
    @include scale(0.9, 0.9);
  }
}
@include keyframes(scooter1) {
  0% {
    opacity: 0;
    @include transform(translateY(-96%) rotate(-23deg));
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    @include rotate(-12deg);
  }
}
@include keyframes(scooter2) {
  0% {
    @include transform(translateX(165%));
  }

  80% {
  }

  100% {
    @include transform(translateX(0));
  }
}
@include keyframes(jump1) {
  0% {
    opacity: 0;
    @include transform(translateY(10%) rotate(-20deg));
  }

  50% {
    opacity: 1;
    @include transform(translateY(-6%) rotate(00deg));
  }

  100% {
    opacity: 1;
    @include transform(translateY(0%) rotate(0deg));
  }
}
@include keyframes(jump2) {
  0% {
    @include transform(translateX(-150px));
  }

  30% {
    @include transform(translateX(-150px));
  }

  50% {
    @include transform(translateX(-75px));
  }

  100% {
    @include transform(translateX(0));
  }
}
@include keyframes(zoomIn) {
  0% {
    opacity: 0;
    @include scale(1.5, 1.5);
  }

  100% {
    opacity: 1;
    @include scale(1, 1);
  }
}
@include keyframes(zoomInRotate) {
  0% {
    opacity: 0;
    @include transform(rotate(90deg) scale(1.5, 1.5));
  }

  100% {
    opacity: 1;
    @include transform(rotate(0) scale(1, 1));
  }
}
@include keyframes(hintRotate) {
  33% {
    @include transform(scale(1, 1) rotate(5deg));
  }

  50% {
    @include transform(scale(1.1, 1.1) rotate(0));
  }

  66% {
    @include transform(scale(1, 1) rotate(-5deg));
  }
}
@include keyframes(handIn) {
  0% {
    opacity: 0;
    @include translate(30%, 30%);
  }

  100% {
    opacity: 1;
    @include translate(0, 0);
  }
}
@media screen and (max-width: 768px) {
  @include keyframes(zoomIn) {
    0% {
      opacity: 0;
      @include scale(1.2, 1.2);
    }

    100% {
      opacity: 1;
      @include scale(1, 1);
    }
  }
  @include keyframes(handIn) {
    0% {
      opacity: 0;
      @include transform(translate(30%, 30%) rotate(-10deg));
    }

    100% {
      opacity: 1;
      @include transform(translate(0, 0) rotate(-10deg));
    }
  }
}
