@charset 'utf-8';

/* ---------BTN-------------- */
.btn {
  display: inline-block;
  padding: 0.45em 1.25em 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  border-radius: 0.75em;
  position: relative;
  line-height: 1;
  letter-spacing: 0.08em;
  cursor: pointer;
  @include transition(all 0.25s ease);

  &.btn-primary {
    color: white;
    background: $color-primary;
  }

  &.btn-white {
    color: $color-primary;
    background: white;
  }
}
