@charset 'utf-8';
@import "../helpers/_variable";
@import "../helpers/_mixin";

.map {
  padding: 18px;
  height: 500px;
  font-size: 26px;
  background-color: $book-bg-outside;
  border-radius: 16px;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;

    &--left,
    &--right {
      width: 47.5%;
      height: 100%;
      background-color: $book-bg-page-out;
      border-radius: 12px;
      position: relative;
    }

    &--left {
      display: flex;
      justify-content: space-between;
      padding: 18px 36px 18px 18px;
    }

    &--right {
      padding: 18px 18px 18px 36px;

      .map__detail {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 40px 6px;
        height: 100%;
        background: $book-bg-page;
        border-radius: 8px;

        &__title {
          display: inline-block;
          padding: 6px 30px 9px;
          margin: 0 auto;
          margin-bottom: 10px;
          width: 90%;
          max-width: 250px;
          font-size: 22px;
          color: white;
          background-color: #910c28;
          border: 3px solid white;
          border-radius: 60px;
          position: relative;

          &::before,
          &::after {
            content: "";
            display: block;
            width: 6px;
            height: 6px;
            background-color: white;
            border-radius: 10px;
            position: absolute;
            top: 15px;
          }

          &::before {
            left: 15px;
          }

          &::after {
            right: 15px;
          }
        }

        &__address {
          font-size: 18px;
        }

        &__tip {
          h4 {
            font-size: 16px;
            font-weight: 500;
            color: $txt-red;
          }
        }

        &__join {
          display: flex;
          justify-content: space-evenly;
          align-items: flex-end;

          .item {
            width: 33.33%;
            text-align: center;

            img {
              margin: 0 auto 5px;
              width: 40px;
              height: 40px;
            }
          }

          h4 {
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0;
            color: $txt-black;

            &::after {
              content: "";
              display: block;
              margin: auto;
              margin: 6px auto 0;
              width: 68%;
              height: 1px;
              background-color: #910c28;
            }
          }

          .button {
            display: inline-block;
            padding: 6px 14px;
            font-size: 16px;
            color: white;
            background-color: #910c28;
            border: 3px solid #feb61c;
            border-radius: 12px;
            position: relative;

            &::before {
              content: "";
              width: 100%;
              height: 100%;
              background-color: #9b4b15;
              border: 2px solid #9b4b15;
              border-radius: 12px;
              position: absolute;
              top: 2px;
              left: -2px;
              z-index: -1;
            }
          }
        }
      }
    }
  }

  &__binder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10%;
    height: calc(100% - 36px);
    position: absolute;
    left: 45%;
    z-index: 1;
  }

  &__area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 50px;
    position: absolute;
    top: 18px;
    right: 100%;
    bottom: 18px;
    grid-gap: 2px;

    &__li {
      display: flex;
      align-items: center;
      padding: 8px;
      width: 40px;
      font-size: 18px;
      color: white;
      background-color: $txt-blue;
      border-radius: 8px 0 0 8px;
      flex: 1 1 auto;
      cursor: pointer;

      &.active {
        width: 50px;
        background-color: $color-red;
      }
    }
  }

  &__shop,
  &__location {
    overflow: hidden;
    width: 47.5%;
    color: white;
    background-color: $txt-blue;
    border-radius: 8px;
    @include scrollbar;

    li {
      &.title {
        padding: 9px 16px 9px 6px;
        font-size: 20px;
        line-height: 20px;
        background-color: $color-red;
        border-bottom: 1px solid white;
      }
    }

    &__li {
      border-bottom: 1px solid white;
      cursor: pointer;

      &__name {
        padding: 9px 16px 9px 6px;
        font-size: 18px;
        position: relative;
        line-height: 20px;
      }
    }
  }

  &__shop__li.active {
    .map__shop__li__name {
      background-color: $color-red;
    }

    .map__shop__li__name::after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 0 6px 10px;
      border-color: transparent transparent transparent white;
      position: absolute;
      top: 14px;
      right: 3%;
    }
  }

  &__location__li.active {
    .map__location__li__name {
      background-color: $color-red;
    }

    .map__location__li__name::after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 0 6px 10px;
      border-color: transparent transparent transparent white;
      position: absolute;
      top: 14px;
      right: 3%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .map__container {
    &--left {
      padding: 18px 24px 18px 12px;
    }

    &--right {
      padding: 18px 12px 18px 24px;

      .map__detail__join {
        .button {
          font-size: 14px;
        }
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  .map__container {
    &--right {
      .map__detail__join h4 {
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 820px) {
  .map__container--right .map__detail__join .button {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .map {
    height: auto;

    .map__shop__li__name,
    .map__location__li__name {
      padding: 16px;
    }

    &__area {
      flex-direction: row;
      width: calc(100% - 24px);
      height: 60px;
      top: auto;
      bottom: calc(100% + 18px);
      left: 12px;

      &__li {
        justify-content: center;
        height: 50px;
        border-radius: 8px 8px 0 0;
        flex: 1 1 0;

        &.active {
          height: 60px;
        }
      }
    }

    &__container {
      flex-direction: column;
      width: 100%;
      height: auto;

      &--left,
      &--right {
        padding: 12px;
        width: 100%;
      }
    }

    &__shop__mb {
      .map__shop__li {
        &__name {
          background-color: $book-bg-outside;

          &::after {
            transform: rotate(90deg);
            top: 20px !important;
          }
        }

        &.active {
          .map__container--right {
            display: block;
            padding: 0;
            border-radius: 0;

            .map__detail {
              border-radius: 0;
            }
          }
        }
      }
    }

    &__location {
      width: 100%;
      border: 2px solid $book-bg-outside;
      border-radius: 0;

      &__li {
        padding: 0;
        border-bottom: 1px solid $book-bg-outside;

        &.active {
          border-bottom: 1px solid white;

          .map__location__li__name {
            background-color: $color-blue;

            &::after {
              transform: rotate(90deg);
              top: 20px !important;
            }
          }

          .map__shop__mb {
            display: block !important;
            margin-bottom: -2px;
            border-top: 1px solid white;
          }
        }
      }
    }
  }

  .map__location__empty {
    padding: 120px 40px;
    color: $txt-red;
    background-color: $book-bg-page;
  }
}

@media screen and (max-width: 360px) {
  .map {
    padding: 8px;

    &__area {
      bottom: calc(100% + 8px);

      &__li {
        font-size: 14px;
        line-height: 18px;
      }
    }

    &__container--left {
      padding: 8px;
    }
  }
}
