<template>
  <div id="index">
    <div class="adBar">
      <div class="container">
        <div class="left">廣告企劃</div>
        <div class="right">→ 以下內容是由 達美樂比薩 提供</div>
      </div>
    </div>
    <a
      @click="scrollToPosition($refs.join.offsetTop)"
      id="btn-fix"
      :class="{ 'is-show': showNavbar }"
    >
      <div class="wave d-768-none"></div>
      <div class="wave-2 d-768-none"></div>
      <div class="wave-3 d-768-none"></div>
      <img src="@/assets/img/fixed-btn.png" alt="我要應徵" class="d-768-none" />
      <h2>馬上投遞！</h2>
    </a>
    <div class="wrapper">
      <header id="header" :class="{ 'is-fixed': showNavbar }">
        <div class="container w1200 flex-nowrap align-items-center">
          <a href="./index.html" class="logo" @click="showMenu = false">
            <picture>
              <source
                media="(max-width: 768px)"
                srcset="@/assets/img/logo.svg"
              />
              <img src="@/assets/img/logo.svg" alt="佐登集團" />
            </picture>
          </a>
          <scrollactive
            ref="scrollactive"
            :offset="navOffset"
            :modifyUrl="false"
            :class="{ active: showMenu }"
          >
            <a
              href="#board"
              class="scrollactive-item"
              @click.prevent="
                () => {
                  showMenu = false;
                }
              "
              >超夯精選好職</a
            >
            <a
              href="#promotion"
              class="scrollactive-item"
              @click.prevent="
                () => {
                  showMenu = false;
                }
              "
              >職涯升遷有你份</a
            >
            <a
              href="#join"
              class="scrollactive-item"
              @click.prevent="
                () => {
                  showMenu = false;
                }
              "
              >天天給你好薪情</a
            >
          </scrollactive>
          <div
            id="hamburger"
            :class="{ active: showMenu }"
            @click="showMenu = !showMenu"
          >
            <span></span>
          </div>
        </div>
      </header>
      <section
        id="kv"
        ref="kv"
        data-aos="kv-animation"
        data-aos-anchor="top top"
        title="達美樂 履歷打了沒】挑戰年加薪22%，馬上投遞！"
      >
        <div class="kv__content align-center">
          <h1>
            <img
              src="@/assets/img/kv/title-pc.svg"
              alt="【達美樂 履歷打了沒】挑戰年加薪22%，馬上投遞！門市儲備店長、兼職人員、其他職缺全台熱情招募中！保障年薪14個月+優渥獎金+員工福利！"
              class="d-768-none"
              draggable="false"
            />
            <img
              src="@/assets/img/kv/title-m.svg"
              alt="【達美樂 履歷打了沒】挑戰年加薪22%，馬上投遞！門市儲備店長、兼職人員、其他職缺全台熱情招募中！保障年薪14個月+優渥獎金+員工福利！"
              class="d-none d-768-block"
              draggable="false"
            />
            <div class="sr-only">
              【達美樂
              履歷打了沒】挑戰年加薪22%，馬上投遞！門市儲備店長、兼職人員、其他職缺全台熱情招募中！保障年薪14個月+優渥獎金+員工福利！
            </div>
          </h1>
          <div class="kv__content__buttons">
            <img
              src="@/assets/img/kv/recruit-title.svg"
              alt=""
              class="kv__content__buttons--title d-none d-768-block"
              draggable="false"
            />
            <ul class="kv__content__buttons--left">
              <li
                data-aos="fade-left"
                data-aos-delay="0"
                data-aos-mirror="true"
                data-aos-once="true"
                data-aos-offset="-250"
              >
                門市儲備店長
              </li>
              <li
                data-aos="fade-left"
                data-aos-delay="150"
                data-aos-mirror="true"
                data-aos-once="true"
                data-aos-offset="-250"
              >
                兼職人員
              </li>
              <li
                data-aos="fade-left"
                data-aos-delay="300"
                data-aos-mirror="true"
                data-aos-once="true"
                data-aos-offset="-250"
              >
                其他職缺
              </li>
              <img
                data-aos="fade-left"
                data-aos-delay="450"
                data-aos-mirror="true"
                data-aos-once="true"
                src="@/assets/img/kv/recruit-title.svg"
                alt=""
                class="kv__content__buttons--right d-768-none"
                draggable="false"
                data-aos-offset="-250"
              />
            </ul>
          </div>
        </div>
        <figure class="kv__figure">
          <div class="kv__figure__scooter">
            <img
              src="@/assets/img/kv/kv-scooter.png"
              alt=""
              class="anim-scooter"
              draggable="false"
            />
          </div>
          <div class="kv__figure__sign">
            <img
              src="@/assets/img/kv/lightsign-normal.png"
              alt=""
              draggable="false"
            />
          </div>
          <img
            src="@/assets/img/kv/kv-cloud-l.svg"
            alt=""
            class="kv__figure__cloud1 d-768-none"
            draggable="false"
          />
          <img
            src="@/assets/img/kv/kv-cloud-r.svg"
            alt=""
            class="kv__figure__cloud2 d-768-none"
            draggable="false"
          />
          <img
            src="@/assets/img/kv/kv-bg-tree-m.svg"
            alt=""
            class="kv__figure__tree d-none d-768-block"
            draggable="false"
          />
        </figure>
        <div class="kv__footer align-center">
          <h2 class="w1200 color-white flex-wrap">
            保障年薪14個月＋<span>優渥獎金＋員工福利</span>
          </h2>
          <img src="@/assets/img/kv/recruit-man.png" alt="" draggable="false" />
        </div>
      </section>
      <section id="board" ref="board" title="超夯精選好職">
        <div class="board__figure">
          <div class="board__figure__pic">
            <img
              src="@/assets/img/board/blackboard-pc.png"
              alt=""
              class="d-768-none"
              draggable="false"
            />
            <img
              src="@/assets/img/board/sec1-tree-m.svg"
              alt=""
              class="d-none d-768-block tree"
              draggable="false"
            />
          </div>
          <div class="board__figure__footer"></div>
        </div>
        <div class="w1200 board__container align-center">
          <div class="title" data-aos="title-animation" data-aos-offset="-100">
            <img src="@/assets/img/subtitle.svg" alt="" draggable="false" />
            <h2>
              超夯精選好職
              <div class="pic"></div>
            </h2>
          </div>
          <div class="content flex-wrap">
            <div class="content__card">
              <h4 class="color-white">門市儲備店長</h4>
              <ul>
                <li class="check color-white">32K起</li>
                <li class="check color-yellow">保障年薪14個月</li>
                <li class="check color-white">三節獎金、績效獎金、推薦獎金</li>
                <li class="check color-white">專職教育培訓</li>
                <li class="mb-left check color-white">生日假、排班假</li>
                <li class="pl color-yellow"># 鼓勵向上發展</li>
                <li class="pl color-yellow"># 升遷快速挑戰半年調薪22%</li>
              </ul>
              <a
                @click="scrollToPosition($refs.join.offsetTop)"
                class="content__card__button"
              >
                <span>免經驗、高中職以上</span>
                <span class="icon"
                  >馬上投遞<img
                    src="@/assets/img/board/btn-arrow-1.svg"
                    alt=""
                    draggable="false"
                /></span>
              </a>
            </div>
            <div class="content__card">
              <h4 class="color-white">兼職人員</h4>
              <ul class="center">
                <li class="check color-yellow">時薪180起</li>
                <li class="check color-white">配送獎金</li>
                <li class="check color-white">獎助學金</li>
                <li class="txt-16 mb-right color-white">
                  另有每筆10元配送獎金
                </li>
                <li class="color-yellow"># 高時薪＋彈性排班</li>
                <li class="color-yellow"># 時間由你自由掌控！</li>
              </ul>
              <a
                @click="scrollToPosition($refs.join.offsetTop)"
                class="content__card__button"
              >
                <span>免經驗、高中職以上</span>
                <span class="icon"
                  >馬上投遞<img
                    src="@/assets/img/board/btn-arrow-1.svg"
                    alt=""
                    draggable="false"
                /></span>
              </a>
            </div>
            <div class="content__footer">
              <div class="content__footer__title">
                <h3>其他熱門職缺</h3>
              </div>
              <div class="content__footer__content flex-nowrap">
                <a
                  @click="scrollToPosition($refs.join.offsetTop)"
                  class="content__footer__content__button"
                >
                  <span>免經驗、高中職以上</span>
                  <span class="icon"
                    >馬上投遞<img
                      src="@/assets/img/board/btn-arrow-2.svg"
                      alt=""
                      draggable="false"
                  /></span>
                </a>
                <ul>
                  <li class="color-orange">保障年薪14個月</li>
                  <li class="color-white">專職教育培訓</li>
                  <li class="color-white">豐富獎金</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="board__people">
          <img
            data-aos="fade-right"
            data-aos-delay="0"
            data-aos-mirror="true"
            data-aos-once="false"
            src="@/assets/img/board/doll-f.png"
            alt=""
            class="doll-f"
            draggable="false"
          />
          <img
            data-aos="fade-left"
            data-aos-delay="0"
            data-aos-mirror="true"
            data-aos-once="false"
            src="@/assets/img/board/doll-m.png"
            alt=""
            class="doll-m"
            draggable="false"
          />
        </div>
      </section>

      <section id="promotion" ref="promotion" title="職涯升遷有你份">
        <div class="bg"></div>
        <div class="container w1200 align-center">
          <div class="title" data-aos="title-animation" data-aos-offset="-100">
            <img src="@/assets/img/subtitle.svg" alt="" draggable="false" />
            <h2>
              職涯升遷有你份
              <div class="pic"></div>
            </h2>
          </div>
          <figure class="figure" data-aos="board-animation">
            <div class="figure__cloud"></div>
            <div class="figure__airplane"></div>
            <div class="figure__people"></div>
            <ul class="figure__list">
              <li>
                <div class="detail">
                  <img
                    src="@/assets/img/promotion/ladder-title1.svg"
                    alt=""
                    class="detail__title"
                    draggable="false"
                  />
                  <div class="detail__date">8週</div>
                </div>
              </li>
              <li>
                <div class="detail">
                  <img
                    src="@/assets/img/promotion/ladder-title2.svg"
                    alt=""
                    class="detail__title"
                    draggable="false"
                  />
                  <div class="detail__date">6週</div>
                </div>
              </li>
              <li>
                <div class="detail">
                  <img
                    src="@/assets/img/promotion/ladder-title3.svg"
                    alt=""
                    class="detail__title"
                    draggable="false"
                  />
                  <div class="detail__date">6週</div>
                </div>
              </li>
              <li>
                <div class="detail">
                  <img
                    src="@/assets/img/promotion/ladder-title4.svg"
                    alt=""
                    class="detail__title"
                    draggable="false"
                  />
                  <div class="detail__date">10週</div>
                </div>
              </li>
              <li>
                <div class="detail">
                  <img
                    src="@/assets/img/promotion/ladder-title5.svg"
                    alt=""
                    class="detail__title"
                    draggable="false"
                  />
                </div>
              </li>
            </ul>
            <div class="figure__cloud-2"></div>
          </figure>
        </div>
      </section>

      <section id="promotion-2" ref="promotion-2" title="職涯升遷有你份">
        <div class="container w1200 flex-nowrap">
          <div class="container__left">
            <img
              src="@/assets/img/promotion/pic.jpg"
              alt=""
              draggable="false"
            />
            <h3
              data-aos="fade-right"
              data-aos-delay="0"
              data-aos-mirror="true"
              data-aos-once="false"
            >
              加入達美樂職涯好fun薪
            </h3>
          </div>

          <div class="container__right">
            <h2
              data-aos="fade-right"
              data-aos-delay="0"
              data-aos-mirror="true"
              data-aos-once="false"
            >
              半年升遷學習地圖
            </h2>
            <ul>
              <li
                data-aos="fade-right"
                data-aos-delay="0"
                data-aos-mirror="true"
                data-aos-once="true"
              >
                生產管理培訓：產品製作及品質監控。
              </li>
              <li
                data-aos="fade-right"
                data-aos-delay="250"
                data-aos-mirror="true"
                data-aos-once="true"
              >
                營運管理培訓：盤點、訂貨、工作站作業、品質監控與報表分析。
              </li>
              <li
                data-aos="fade-right"
                data-aos-delay="400"
                data-aos-mirror="true"
                data-aos-once="true"
              >
                人事管理培訓：人員招募、訓練與排班。
              </li>
              <li
                data-aos="fade-right"
                data-aos-delay="550"
                data-aos-mirror="true"
                data-aos-once="true"
              >
                行銷管理培訓：地區行銷、顧客服務（客訴處理）、開店及打烊作業。
              </li>
              <li
                data-aos="fade-right"
                data-aos-delay="700"
                data-aos-mirror="true"
                data-aos-once="true"
              >
                不定期安排外訓培訓課程
              </li>
              <li
                data-aos="fade-right"
                data-aos-delay="850"
                data-aos-mirror="true"
                data-aos-once="true"
              >
                輔導員工考取證照
              </li>
              <li
                data-aos="fade-right"
                data-aos-delay="1000"
                data-aos-mirror="true"
                data-aos-once="true"
              >
                強化員工職能，全方位提升員工職場競爭力
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section id="join" ref="join" title="天天給你好薪情">
        <div class="container">
          <div class="title" data-aos="title-animation" data-aos-offset="-200">
            <img src="@/assets/img/subtitle.svg" alt="" draggable="false" />
            <h2>
              天天給你好薪情
              <div class="pic"></div>
            </h2>
          </div>
          <div class="content w1200 align-center">
            <div class="doll1 d-768-none">
              <img
                src="@/assets/img/join/doll-right.png"
                alt=""
                draggable="false"
              />
            </div>
            <div class="doll2 d-768-none">
              <img
                src="@/assets/img/join/doll-left.png"
                alt=""
                draggable="false"
              />
            </div>
            <Map :defaultSelected="0" />
          </div>
        </div>
      </section>
    </div>
    <footer id="footer">
      上述內容由 達美樂比薩 提供，104整合招募服務處代為維護管理<br />
      以上所提及之各公司與產品均分屬各相關公司與個別擁有者之商標<br />
      意見反應：02-29126104#8530
      <a
        href="//www.104.com.tw/question_admin/reaction.cfm"
        target="_blank"
        class="kad-ga"
        data-kad-action="link"
        data-kad-label="https://www.104.com.tw/question_admin/reaction.cfm"
        ><svg
          viewBox="0 0 20 14"
          width="18"
          height="12"
          preserveAspectRatio="none"
          stroke="currentColor"
          stroke-width="1"
          class="mail"
        >
          <rect x="1" y="1" width="18" height="12" rx="3" fill="#fff"></rect>
          <polyline points="1,11 10,5 19,11" fill="#fff"></polyline>
          <polyline points="1,4 10,10 19,4" fill="#fff"></polyline></svg></a
      ><br />
      本網站內容享有著作權，禁止侵害，違者必究。© 2001 -{{ getThisYear() }} 104
      Corporation All Rights Reserved
    </footer>
  </div>
</template>

<script>
import Map from "./Map.vue";

export default {
  components: {
    Map,
  },
  metaInfo: {
    title:
      "【達美樂 履歷打了沒】挑戰年加薪22%，馬上投遞！門市儲備店長、兼職人員、其他職缺全台熱情招募中！保障年薪14個月+優渥獎金+員工福利！",
    meta: [
      {
        name: "description",
        content:
          "達美樂 挑戰年加薪22%，超夯精選好職！門市儲備店長、兼職人員、其他熱門職缺全台熱情招募中！保障年薪14個月+優渥獎金+員工福利，免經驗、高中職以上馬上投遞！",
      },
      {
        name: "keywords",
        content: "達美樂,徵才,履歷,找工作,門市儲備店長,兼職人員,其他職缺",
      },
    ],
  },
  data() {
    return {
      swiperGalleryOption: {
        slidesPerView: 1,
        grabCursor: true,
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: true,
        },
        effect: "fade",
        fadeEffect: {
          crossFade: true,
        },
        breakpoints: {
          0: {
            navigation: false,
          },
          769: {
            navigation: {
              nextEl: ".swiper-gallery .swiper-button-next",
              prevEl: ".swiper-gallery .swiper-button-prev",
            },
          },
        },
      },
      swiperBenefitsOption: {
        breakpoints: {
          0: {
            slidesPerView: 1,
            allowTouchMove: true,
            simulateTouchMove: false,
            grabCursor: true,
            loop: true,
            threshold: 4,
            autoplay: {
              delay: 3000,
              disableOnInteraction: true,
            },
            navigation: {
              nextEl: ".swiper-benefits .swiper-button-next",
              prevEl: ".swiper-benefits .swiper-button-prev",
            },
          },
          769: {
            slidesPerView: 4,
            navigation: false,
            allowTouchMove: false,
            grabCursor: false,
            loop: false,
            autoplay: false,
            pagination: {
              el: ".swiper-benefits .swiper-pagination",
              type: "bullet",
              clickable: true,
            },
          },
        },
      },
      showNavbar: false,
      showMenu: false,
      lastScrollPosition: 0,
      scrollValue: 0,
      navOffset: 80,
    };
  },
  methods: {
    scrollToPosition(pos) {
      window.scrollTo({
        top: pos - this.navOffset,
        behavior: "smooth",
      });
    },
    onScroll() {
      this.showNavbar = window.pageYOffset > this.$refs.kv.clientHeight / 2;
    },
    onResize() {
      if (window.innerWidth <= 768) {
        this.navOffset = 50;
      } else {
        this.navOffset = 70;
      }
    },
    getThisYear() {
      return new Date().getFullYear();
    },
  },
  mounted() {
    window.addEventListener("load", () => {
      document.querySelector("body").classList.add("loaded");
    });
    window.addEventListener("scroll", this.onScroll);
    window.addEventListener("resize", this.onResize);
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll);
    window.removeEventListener("resize", this.onResize);
  },
};
</script>
