<template>
  <div class="map">
    <div class="map__container">
      <div class="map__binder d-768-none">
        <img src="@/assets/img/map/binder.svg" alt="" draggable="false" />
        <img src="@/assets/img/map/binder.svg" alt="" draggable="false" />
        <img src="@/assets/img/map/binder.svg" alt="" draggable="false" />
        <img src="@/assets/img/map/binder.svg" alt="" draggable="false" />
        <img src="@/assets/img/map/binder.svg" alt="" draggable="false" />
        <img src="@/assets/img/map/binder.svg" alt="" draggable="false" />
        <img src="@/assets/img/map/binder.svg" alt="" draggable="false" />
      </div>
      <div class="map__container--left">
        <ul class="map__area">
          <li
            v-for="first in map"
            :key="first.key"
            class="map__area__li"
            :class="selectedAreaIndex === first.key ? 'active' : ''"
            @click="
              updateArea(first.key);
              scrollToTop($refs.shopRef);
            "
          >
            <div class="map__area__li__name">
              {{ first.area }}
            </div>
          </li>
        </ul>
        <ul class="map__location">
          <li class="title d-768-none">城市</li>
          <div
            class="map__location__empty d-none d-768-block"
            v-if="!selectedDetail.shop"
          >
            <div class="map__detail__title">敬請期待</div>
          </div>
          <li
            v-for="second in map[selectedAreaIndex].content"
            :key="second.key"
            class="map__location__li"
            :class="selectedLocationIndex === second.key ? 'active' : ''"
            @click="scrollToTop($refs.shopRef)"
          >
            <div
              class="map__location__li__name"
              @click="updateLocation(second.key)"
            >
              {{ second.location }}
            </div>
            <ul
              class="map__shop__mb d-none"
              v-if="map[selectedAreaIndex].content.length > 0"
            >
              <li
                v-for="third in map[selectedAreaIndex].content[
                  selectedLocationIndex
                ].content"
                :key="third.key"
                class="map__shop__li"
                :class="selectedShopIndex === third.key ? 'active' : ''"
                @click="updateShop(third.key)"
              >
                <div class="map__shop__li__name">
                  {{ third.shop }}
                </div>
                <div class="map__container--right d-none">
                  <div class="map__detail" v-show="!!selectedDetail.shop">
                    <div class="map__detail__title">
                      {{ selectedDetail.shop }}
                    </div>
                    <div class="map__detail__address d-none"></div>
                    <div class="map__detail__tip">
                      <h4># 免經驗、高中職以上</h4>
                      <h4># 保障年薪14個月</h4>
                    </div>
                    <div class="map__detail__join">
                      <div class="item" v-show="selectedDetail.leader">
                        <img
                          src="@/assets/img/map/icon-store.svg"
                          alt=""
                          draggable="false"
                        />
                        <h4>門市儲備店長</h4>
                        <div class="button">
                          <a :href="selectedDetail.leader" target="_blank"
                            >馬上投遞</a
                          >
                        </div>
                      </div>
                      <div class="item" v-show="selectedDetail.partTime">
                        <img
                          src="@/assets/img/map/icon-scooter.svg"
                          alt=""
                          draggable="false"
                        />
                        <h4>兼職人員</h4>
                        <div class="button">
                          <a :href="selectedDetail.partTime" target="_blank"
                            >馬上投遞</a
                          >
                        </div>
                      </div>
                      <div class="item" v-show="selectedDetail.other">
                        <img
                          src="@/assets/img/map/icon-human.svg"
                          alt=""
                          draggable="false"
                        />
                        <h4>其他熱門職缺</h4>
                        <div class="button">
                          <a :href="selectedDetail.other" target="_blank"
                            >馬上投遞</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
        <ul
          class="map__shop d-768-none"
          ref="shopRef"
          v-if="map[selectedAreaIndex].content.length > 0"
        >
          <li class="title">地區</li>
          <li
            v-for="third in map[selectedAreaIndex].content[
              selectedLocationIndex
            ].content"
            :key="third.key"
            class="map__shop__li"
            :class="selectedShopIndex === third.key ? 'active' : ''"
            @click="updateShop(third.key)"
          >
            <div class="map__shop__li__name">
              {{ third.shop }}
            </div>
          </li>
        </ul>
        <ul class="map__shop d-768-none" v-else>
          <li class="title">地區</li>
        </ul>
      </div>
      <div class="map__container--right d-768-none">
        <div class="map__detail" v-show="!!selectedDetail.shop">
          <div class="map__detail__title">
            {{ selectedDetail.shop }}
          </div>
          <div class="map__detail__address d-none"></div>
          <div class="map__detail__tip">
            <h4># 免經驗、高中職以上</h4>
            <h4># 保障年薪14個月</h4>
          </div>
          <div class="map__detail__join">
            <div class="item" v-show="selectedDetail.leader">
              <img src="@/assets/img/map/icon-store.svg" alt="" />
              <h4>門市儲備店長</h4>
              <div class="button">
                <a :href="selectedDetail.leader" target="_blank">馬上投遞</a>
              </div>
            </div>
            <div class="item" v-show="selectedDetail.partTime">
              <img src="@/assets/img/map/icon-scooter.svg" alt="" />
              <h4>兼職人員</h4>
              <div class="button">
                <a :href="selectedDetail.partTime" target="_blank">馬上投遞</a>
              </div>
            </div>
            <div class="item" v-show="selectedDetail.other">
              <img src="@/assets/img/map/icon-human.svg" alt="" />
              <h4>其他熱門職缺</h4>
              <div class="button">
                <a :href="selectedDetail.other" target="_blank">馬上投遞</a>
              </div>
            </div>
          </div>
        </div>
        <div class="map__detail" v-if="!selectedDetail.shop">
          <div class="map__detail__tip">
            <h4 style="font-size: 22px">敬請期待</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Map",
  props: {
    defaultSelected: {
      type: Number,
    },
  },
  data() {
    return {
      selectedAreaIndex: this.defaultSelected,
      selectedLocationIndex: this.defaultSelected,
      selectedShopIndex: this.defaultSelected,

      map: [
        {
          key: 0,
          area: "北北基",
          content: [
            {
              key: 0,
              location: "台北市",
              content: [
                {
                  key: 0,
                  shop: "士林區",
                  partTime: "https://www.104.com.tw/job/7806g",
                  leader: "https://www.104.com.tw/job/az6j",
                },
                {
                  key: 1,
                  shop: "大同區",
                  partTime: "https://www.104.com.tw/job/78063",
                  leader: "https://www.104.com.tw/job/6uzax",
                },
                {
                  key: 2,
                  shop: "大安區",
                  partTime: "https://www.104.com.tw/job/7805y",
                  leader: "https://www.104.com.tw/job/7801q",
                },
                {
                  key: 3,
                  shop: "中山區",
                  partTime: "https://www.104.com.tw/job/78063",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 4,
                  shop: "中正區",
                  partTime: "https://www.104.com.tw/job/78066",
                  leader: "https://www.104.com.tw/job/7801u",
                },
                {
                  key: 5,
                  shop: "內湖區",
                  partTime: "https://www.104.com.tw/job/7806c",
                  leader: "https://www.104.com.tw/job/6uzas",
                },
                {
                  key: 6,
                  shop: "文山區",
                  partTime: "https://www.104.com.tw/job/7806r",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 7,
                  shop: "北投區",
                  partTime: "https://www.104.com.tw/job/7806g",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 8,
                  shop: "松山區",
                  partTime: "https://www.104.com.tw/job/27if7",
                  leader: "https://www.104.com.tw/job/6uzas",
                },
                {
                  key: 9,
                  shop: "信義區",
                  partTime: "https://www.104.com.tw/job/7805t",
                  leader: "https://www.104.com.tw/job/6uzaf",
                },
                {
                  key: 10,
                  shop: "南港區",
                  partTime: "https://www.104.com.tw/job/7805t",
                  leader: "https://www.104.com.tw/job/6uzaf",
                },
                {
                  key: 11,
                  shop: "萬華區",
                  partTime: "https://www.104.com.tw/job/78066",
                  leader: "https://www.104.com.tw/job/7801u",
                },
              ],
            },
            {
              key: 1,
              location: "新北市",
              content: [
                {
                  key: 0,
                  shop: "八里區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 1,
                  shop: "三芝區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 2,
                  shop: "三重區",
                  leader: "https://www.104.com.tw/job/78023",
                  partTime: "https://www.104.com.tw/job/6uzc3",
                },
                {
                  key: 3,
                  shop: "三峽區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 4,
                  shop: "土城區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 5,
                  shop: "中和區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 6,
                  shop: "五股區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 7,
                  shop: "平溪區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 8,
                  shop: "永和區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 9,
                  shop: "石門區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 10,
                  shop: "石碇區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 11,
                  shop: "汐止區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 12,
                  shop: "坪林區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 13,
                  shop: "板橋區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 14,
                  shop: "林口區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 15,
                  shop: "金山區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 16,
                  shop: "泰山區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 17,
                  shop: "烏來區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 18,
                  shop: "貢寮區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 19,
                  shop: "淡水區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 20,
                  shop: "深坑區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 21,
                  shop: "新店區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 22,
                  shop: "新莊區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 23,
                  shop: "瑞芳區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 24,
                  shop: "萬里區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 25,
                  shop: "樹林區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 26,
                  shop: "雙溪區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
                {
                  key: 27,
                  shop: "蘆洲區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                  partTime: "https://www.104.com.tw/job/6uzc3",
                },
                {
                  key: 28,
                  shop: "鶯歌區",
                  leader: "https://www.104.com.tw/job/7dh4h",
                },
              ],
            },
          ],
        },
        // {
        //   key: 1,
        //   area: "桃竹苗",
        //   content: [],
        // },
        {
          key: 1,
          area: "中南部",
          content: [
            {
              key: 0,
              location: "台中市",
              content: [
                {
                  key: 0,
                  shop: "大甲區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 1,
                  shop: "大安區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 2,
                  shop: "大肚區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 3,
                  shop: "大里區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 4,
                  shop: "大雅區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 5,
                  shop: "中區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 6,
                  shop: "太平區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 7,
                  shop: "北屯區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 8,
                  shop: "北區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 9,
                  shop: "外埔區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 10,
                  shop: "石岡區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 11,
                  shop: "后里區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 12,
                  shop: "西屯區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 13,
                  shop: "西區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 14,
                  shop: "沙鹿區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 15,
                  shop: "和平區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 16,
                  shop: "東區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 17,
                  shop: "東勢區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 18,
                  shop: "南屯區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 19,
                  shop: "南區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 20,
                  shop: "烏日區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 21,
                  shop: "神岡區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 22,
                  shop: "梧棲區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 23,
                  shop: "清水區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 24,
                  shop: "新社區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 25,
                  shop: "潭子區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 26,
                  shop: "龍井區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 27,
                  shop: "豐原區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
                {
                  key: 28,
                  shop: "霧峰區",
                  leader: "https://www.104.com.tw/job/7eocz",
                },
              ],
            },
            {
              key: 1,
              location: "台南市",
              content: [
                {
                  key: 0,
                  shop: "七股區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 1,
                  shop: "下營區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 2,
                  shop: "大內區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 3,
                  shop: "山上區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 4,
                  shop: "中西區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 5,
                  shop: "仁德區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 6,
                  shop: "六甲區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 7,
                  shop: "北門區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 8,
                  shop: "北區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 9,
                  shop: "左鎮區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 10,
                  shop: "永康區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 11,
                  shop: "玉井區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 12,
                  shop: "白河區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 13,
                  shop: "安平區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 14,
                  shop: "安定區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 15,
                  shop: "安南區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 16,
                  shop: "西港區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 17,
                  shop: "佳里區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 18,
                  shop: "官田區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 19,
                  shop: "東山區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 20,
                  shop: "東區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 21,
                  shop: "南化區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 22,
                  shop: "南區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 23,
                  shop: "後壁區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 24,
                  shop: "柳營區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 25,
                  shop: "將軍區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 26,
                  shop: "麻豆區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 27,
                  shop: "善化區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 28,
                  shop: "新化區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 29,
                  shop: "新市區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 30,
                  shop: "新營區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 31,
                  shop: "楠西區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 32,
                  shop: "學甲區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 33,
                  shop: "龍崎區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 34,
                  shop: "歸仁區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 35,
                  shop: "關廟區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
                {
                  key: 36,
                  shop: "鹽水區",
                  leader: "https://www.104.com.tw/job/7eod4",
                },
              ],
            },
          ],
        },
        // {
        //   key: 3,
        //   area: "東部－外島",
        //   content: [],
        // },
      ],
      selectedDetail: {
        key: 0,
        shop: "士林區",
        partTime: "https://www.104.com.tw/job/7806g",
        leader: "https://www.104.com.tw/job/az6j",
      },
    };
  },
  methods: {
    scrollToTop(e) {
      e?.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    },
    updateArea(key) {
      this.selectedAreaIndex = key;
      if (this.map[key].content.length > 0) {
        this.selectedLocationIndex = 0;
        if (this.map[key].content[0].content.length > 0) {
          this.selectedShopIndex = 0;
          this.selectedDetail =
            this.map[this.selectedAreaIndex].content[0].content[0];
        } else {
          this.selectedShopIndex = null;
          this.selectedDetail = {};
        }
      } else {
        this.selectedLocationIndex = null;
        this.selectedShopIndex = null;
        this.selectedDetail = {};
      }
    },
    updateLocation(key) {
      this.selectedLocationIndex = key;
      if (this.map[this.selectedAreaIndex].content[key].content.length > 0) {
        this.selectedShopIndex = 0;
        this.selectedDetail =
          this.map[this.selectedAreaIndex].content[key].content[0];
      } else {
        this.selectedDetail = {};
        this.selectedShopIndex = null;
      }
    },
    updateShop(key) {
      this.selectedShopIndex = key;
      this.selectedDetail =
        this.map[this.selectedAreaIndex].content[
          this.selectedLocationIndex
        ].content[this.selectedShopIndex];
    },
  },
  watch: {},
};
</script>

<style scope src="@/assets/scss/components/map.scss" lang="scss"></style>
