@charset 'utf-8';

/* ---------BLOCK------------ */
.w95 {
  margin: 0 auto;
  width: 95%;
}

.w760,
.w1000,
.w1200 {
  margin: 0 auto;
  width: 80%;
}

.w760 {
  max-width: 760px;
}

.w1000 {
  max-width: 1000px;
}

.w1200 {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1140px;
}

.col100 {
  width: 100%;
}

.col90 {
  width: 90%;
}

.col80 {
  width: 80%;
}

.col75 {
  width: 75%;
}

.col70 {
  width: 70%;
}

.col66 {
  width: 66.6666%;
}

.col60 {
  width: 60%;
}

.col55 {
  width: 55%;
}

.col50 {
  width: 50%;
}

.col45 {
  width: 45%;
}

.col40 {
  width: 40%;
}

.col30 {
  width: 30%;
}

.col33 {
  width: 33.3333%;
}

.col25 {
  width: 25%;
}

.col20 {
  width: 20%;
}

.col15 {
  width: 15%;
}

.col05 {
  width: 05%;
}

.ib-top {
  display: inline-block;
  vertical-align: top;
}

.ib-bottom {
  display: inline-block;
  vertical-align: bottom;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin: 0 auto;
}

hr {
  margin: 1em 0;
  height: 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.25);

  &.no-top {
    margin-top: 0;
  }

  &.no-bottom {
    margin-bottom: 0;
  }

  &.no {
    margin: 0;
  }
}

.d-none {
  display: none;
}

/* -------------RWD--------------- */
@media screen and (max-width: 1440px) {
  .d-1440-block {
    display: block;
  }

  .d-1440-none {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .w760,
  .w1000,
  .w1200 {
    width: 90%;
  }

  .d-1024-block {
    display: block;
  }

  .d-1024-none {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .d-1023-block {
    display: block;
  }

  .d-1023-none {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .d-768-block {
    display: block;
  }

  .d-768-none {
    display: none;
  }
}
@media screen and (max-width: 620px) {
  .d-620-block {
    display: block;
  }

  .d-620-inline {
    display: inline;
  }

  .d-620-none {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .d-480-block {
    display: block;
  }

  .d-480-none {
    display: none;
  }

  .w1200 {
    padding-right: 0;
    padding-left: 0;
  }
}
