/* stylelint-disable no-descending-specificity */
@charset 'utf-8';

#kv {
  overflow: hidden;
  position: relative;

  .kv {
    &__figure {
      padding-bottom: 32.6562%;
      margin: 0 auto;
      width: 100%;
      height: 0;
      background: url(../img/kv/kv-bg-pc.jpg) center center no-repeat;
      background-size: contain;
      position: relative;

      &__scooter {
        width: 20.5%;
        position: absolute;
        top: 34%;
        left: 59.4%;

        img {
          transform: rotate(-12deg);
        }
      }

      &__sign {
        width: 4.5%;
        position: absolute;
        top: 56%;
        left: 20.3%;

        &::after {
          content: "";
          display: block;
          width: 100%;
          background: url(../img/kv/pizzalab.png) center center no-repeat;
          background-size: contain;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;

          @include animation(blink, 2s, 0s, ease, infinite, forwards);
        }
      }

      &__cloud1 {
        width: 33%;
        position: absolute;
        bottom: -3.5%;
        left: -4.5%;
      }

      &__cloud2 {
        width: 32%;
        position: absolute;
        right: 0%;
        bottom: -11%;
      }
    }

    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 82px;
      left: 0;
      z-index: 2;

      h1 {
        padding-left: 4%;
        margin: 0 auto;
        width: 46%;

        img {
          width: 100%;
        }
      }

      &__buttons {
        padding: 10px 0 8px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);

        &--left {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          padding-right: 30px;
          margin: 0 auto;
          width: 100%;
          max-width: 600px;
          position: relative;

          li {
            padding: 8px 30px;
            font-size: 24px;
            color: white;
            background-color: $btn-blue;
            border: 3px solid white;
            border-radius: 60px;
          }

          img {
            width: 250px;
            max-height: inherit;
            position: absolute;
            top: -5px;
            left: calc(98% - 4px);
          }
        }
      }
    }

    &__footer {
      background-color: $color-red;
      border-top: 10px solid $color-dark-red;
      border-bottom: 10px solid $color-dark-red;
      position: relative;
      z-index: 3;

      h2 {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 60px;
        font-size: 28px;
      }

      img {
        width: 160px;
        max-height: inherit;
        position: absolute;
        right: calc(50% + 290px);
        bottom: -12px;
      }
    }
  }

  // animation
  &[data-aos="kv-animation"] {
    &.aos-animate {
      h1 {
        img {
          @include animation(
            fadeInKvTitleWithHeartBeat,
            0.6s,
            0.2s,
            ease,
            1,
            both
          );
        }
      }

      .anim-scooter {
        @include animation(scooter1, 2s, 0.5s, ease, 1, both);
      }

      .kv__figure__scooter {
        @include animation(scooter2, 2s, 0.5s, linear, 1, both);
      }

      p {
        @include animation(fadeInUp, 0.4s, 0.5s, ease, 1, both);
      }

      .bubble-container {
        @include animation(fadeIn, 0.4s, 0.8s, ease, 1, both);
      }
    }
  }
}

.title {
  margin: 0 auto;
  width: 100%;
  max-width: 610px;
  text-align: center;
  position: relative;

  // animation
  &[data-aos="title-animation"] {
    img {
      opacity: 0;
    }

    &.aos-animate {
      img {
        @include animation(
          fadeInKvTitleWithHeartBeat,
          0.6s,
          0.2s,
          ease,
          1,
          both
        );
      }
    }
  }

  h2 {
    display: inline-block;
    padding: 6px 30px;
    margin-top: -30px;
    font-size: 26px;
    color: white;
    background-color: #910c28;
    border: 3px solid #feb61c;
    border-radius: 60px;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: $btn-shadow-title;
      border: 3px solid $btn-shadow-title;
      border-radius: 60px;
      position: absolute;
      top: 2px;
      left: -3px;
      z-index: -1;
    }

    .pic {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      &::before,
      &::after {
        content: "";
        position: absolute;
      }

      &::before {
        transform: scaleX(-1);
      }
    }
  }
}

#board {
  margin-bottom: 100px;
  position: relative;

  .board {
    &__figure {
      width: 100%;
      height: 100%;
      background: url(../img/board/sec1-bg.jpg) center bottom no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;

      &__pic {
        padding: 0 15px;
        margin: 0 auto;
        width: 100%;
        max-width: 1014px;
        height: 100%;
        position: relative;

        img {
          height: 100%;
        }
      }

      &__footer {
        width: 100%;
        height: 100px;
        background: url(../img/board/sec1-wall-pc.svg) left bottom repeat;
      }
    }

    &__container {
      padding-top: 50px;

      .title {
        .pic {
          @include animation(hint, 2s, 0s, ease, infinite, both);

          &::before,
          &::after {
            content: "";
            width: 44px;
            height: 50px;
            background: url(../img/board/sec-title-dec1.svg) center bottom
              no-repeat;
            bottom: 0;
          }

          &::before {
            left: calc(50% - 166px);
          }

          &::after {
            right: calc(50% - 166px);
          }
        }
      }

      .content {
        justify-content: space-between;
        margin: 16px auto 0;
        width: 100%;
        max-width: 740px;

        &__card {
          padding: 16px 20px 80px;
          width: 49%;
          text-align: center;
          background-color: $color-red;
          border: 2px solid white;
          position: relative;

          h4 {
            display: inline-block;
            padding: 6px;
            margin-bottom: 20px;
            width: 220px;
            font-size: 28px;
            background-color: $btn-bg-title;
            border-radius: 10px;
          }

          ul {
            display: inline-block;
            text-align: left;

            &.center {
              text-align: center;
            }

            li {
              display: block;
              margin-bottom: 10px;
              font-size: 18px;
              text-align: left;
              line-height: 26px;

              &.mb-left {
                margin-bottom: 30px;
              }

              &.mb-right {
                margin-bottom: 66px;
              }

              &.txt-16 {
                font-size: 16px;
              }

              &.pl {
                padding-left: 35px;
              }

              &.check {
                padding-left: 35px;
                position: relative;

                &::before {
                  content: "";
                  width: 30px;
                  height: 30px;
                  background: url(../img/board/sec1-check.svg) center bottom
                    no-repeat;
                  background-size: contain;
                  position: absolute;
                  top: -5px;
                  right: 0;
                  left: 0;
                }
              }
            }
          }

          &__button {
            display: flex;
            flex-direction: column;
            padding: 10px 20px 14px;
            width: calc(100% + 8px);
            color: white;
            border: 4px solid white;
            border-radius: 12px;
            position: absolute;
            bottom: -10px;
            left: -4px;
            cursor: pointer;
            @include linear-gradient(
              to top,
              $gradient-blue-from 0%,
              $gradient-blue-to 100%
            );

            .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: 6px;
              font-size: 30px;

              img {
                margin-top: 4px;
                margin-left: 12px;
                width: 63px;
              }
            }

            &::before {
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              background-color: $txt-blue;
              border: 4px solid $txt-blue;
              border-radius: 12px;
              position: absolute;
              top: 4px;
              left: -4px;
              z-index: -1;
            }
          }

          &::before,
          &::after {
            content: "";
            width: 12px;
            height: 12px;
            background-color: white;
            border-radius: 12px;
            position: absolute;
            top: 10px;
          }

          &::before {
            left: 10px;
          }

          &::after {
            right: 10px;
          }
        }

        &__footer {
          padding-bottom: 65px;
          margin: 40px auto 0;
          width: 100%;

          &__title {
            overflow: hidden;

            h3 {
              display: inline-block;
              font-size: 42px;
              font-weight: 400;
              color: white;
              position: relative;

              &::before,
              &::after {
                content: "";
                width: 100%;
                height: 2px;
                background-color: white;
                position: absolute;
                top: 50%;
              }

              &::before {
                right: calc(100% + 20px);
              }

              &::after {
                left: calc(100% + 20px);
              }
            }
          }

          &__content {
            justify-content: center;
            align-items: center;
            padding-right: 50px;

            &__button {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding: 10px 20px;
              margin-right: 36px;
              width: 270px;
              height: 86px;
              color: white;
              border: 4px solid white;
              border-radius: 60px;
              bottom: 0;
              left: -4px;
              cursor: pointer;
              @include linear-gradient(
                to top,
                $gradient-red-from 0%,
                $gradient-red-to 100%
              );
              @include animation(heartBeat, 2s, 0s, ease, infinite, forwards);

              .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 6px;
                font-size: 26px;

                img {
                  margin-top: 4px;
                  margin-left: 12px;
                  width: 80px;
                }
              }
            }

            ul {
              li {
                padding-left: 25px;
                font-size: 22px;
                text-align: left;
                line-height: 30px;
                position: relative;

                &::before {
                  content: "";
                  display: block;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 9px 0 9px 11px;
                  border-color: transparent transparent transparent white;
                  position: absolute;
                  top: 7px;
                  left: 0;
                }

                &:first-child::before {
                  border-color: transparent transparent transparent $txt-orange;
                }
              }
            }
          }
        }
      }
    }

    &__people {
      padding: 0 15px;
      margin: 0 auto;
      width: 100%;
      max-width: 1014px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;

      .doll-f,
      .doll-m {
        display: block;
        width: 20%;
        position: absolute;
        bottom: 0;
        z-index: 1;
      }

      .doll-f {
        background-size: contain;
        right: 88%;
      }

      .doll-m {
        background-size: contain;
        left: 89%;
      }
    }
  }
}

#promotion {
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
  @include linear-gradient(to bottom, $bg-sec2-from 0%, $bg-sec2-to 100%);

  .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: url(../img/promotion/bg-cloud-1.svg) center bottom no-repeat;
      background-size: contain;
      position: absolute;
      bottom: 50px;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background: url(../img/promotion/bg-cloud-2.svg) center bottom no-repeat;
      background-size: contain;
      position: absolute;
      bottom: 50px;
    }
  }

  .container {
    padding-top: 50px;

    .title {
      .pic {
        &::before,
        &::after {
          content: "";
          width: 60px;
          height: 33px;
          background: url(../img/promotion/sec-title-dec2.svg) center bottom
            no-repeat;
          position: absolute;
          bottom: -6px;
        }

        &::before {
          left: calc(50% - 188px);
        }

        &::after {
          right: calc(50% - 188px);
        }
      }
    }

    .figure {
      margin-left: 6%;
      width: 100%;
      max-width: 900px;
      position: relative;

      &__cloud,
      &__airplane,
      &__cloud-2,
      &__people {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        &::before,
        &::after {
          content: "";
          display: block;
          position: absolute;
        }
      }

      &__cloud {
        &::before {
          padding-bottom: 6%;
          width: 16%;
          background: url(../img/promotion/cloud-1.svg) center bottom no-repeat;
          background-size: contain;
          top: 46%;
          left: -9%;
          @include animation(cloud, 5s, 0s, ease, infinite, both);
        }

        &::after {
          padding-bottom: 11%;
          width: 24%;
          background: url(../img/promotion/cloud-2.svg) center bottom no-repeat;
          background-size: contain;
          top: 14%;
          left: 10%;
          @include animation(cloud, 5s, 2s, ease, infinite, both);
        }
      }

      &__cloud-2 {
        z-index: 1;

        &::before {
          padding-bottom: 8%;
          width: 18%;
          background: url(../img/promotion/cloud-3.svg) center bottom no-repeat;
          background-size: contain;
          bottom: 25%;
          left: 51%;
          @include animation(cloud, 5s, 3.5s, ease, infinite, both);
        }

        &::after {
          padding-bottom: 9%;
          width: 24%;
          background: url(../img/promotion/cloud-4.svg) center bottom no-repeat;
          background-size: contain;
          top: 16%;
          right: -13%;
          @include animation(cloud, 5s, 4s, ease, infinite, both);
        }
      }

      &__airplane {
        &::before {
          padding-bottom: 16%;
          width: 50%;
          background: url(../img/promotion/sec2-airplane.svg) center bottom
            no-repeat;
          background-size: contain;
          top: 1%;
          left: -3%;
        }

        &::after {
          padding-bottom: 49%;
          width: 79%;
          background: url(../img/promotion/ladder-jumpline.svg) center bottom
            no-repeat;
          background-size: contain;
          bottom: 29%;
          left: 6%;
        }
      }

      &__people {
        &::after {
          padding-bottom: 32%;
          width: 26%;
          background: url(../img/promotion/jumpdoll.png) center bottom no-repeat;
          background-size: contain;
          bottom: 48%;
          left: 2%;
        }
      }

      &__list {
        font-size: 20px;
        color: white;
        position: relative;
        z-index: 1;

        li {
          position: absolute;
          bottom: 0;

          .detail {
            padding: 20px 10px 0;
            width: 87%;
            text-align: right;
            position: absolute;

            &__title {
              margin: 0 auto;
              height: 30px;
            }

            &__date {
              display: inline-block;
              padding: 6px 35px 7px 12px;
              margin-top: 5px;
              border-radius: 6px;
              position: relative;

              &::after {
                content: "";
                width: 32px;
                height: 52px;
                position: absolute;
                top: -10px;
                right: -2px;
              }
            }
          }

          &:nth-child(1) {
            padding-bottom: 20%;
            width: 27.5%;
            background: url(../img/promotion/ladder-1.svg) center bottom
              no-repeat;
            left: 0%;
            z-index: 5;

            .detail {
              &__date {
                background-color: $sec2-1;

                &::after {
                  background: url(../img/promotion/sec2-arrow-1.svg) center
                    bottom no-repeat;
                }
              }
            }
          }

          &:nth-child(2) {
            padding-bottom: 28%;
            width: 27.5%;
            background: url(../img/promotion/ladder-2.svg) center bottom
              no-repeat;
            left: 16%;
            z-index: 4;

            .detail {
              &__date {
                background-color: $sec2-2;

                &::after {
                  background: url(../img/promotion/sec2-arrow-2.svg) center
                    bottom no-repeat;
                }
              }
            }
          }

          &:nth-child(3) {
            padding-bottom: 34%;
            width: 28%;
            background: url(../img/promotion/ladder-3.svg) center bottom
              no-repeat;
            left: 33.5%;
            z-index: 3;

            .detail {
              &__date {
                background-color: $sec2-3;

                &::after {
                  background: url(../img/promotion/sec2-arrow-3.svg) center
                    bottom no-repeat;
                }
              }
            }
          }

          &:nth-child(4) {
            padding-bottom: 44%;
            width: 31%;
            background: url(../img/promotion/ladder-4.svg) center bottom
              no-repeat;
            left: 49.5%;
            z-index: 2;

            .detail {
              &__title {
                height: 38px;
              }

              &__date {
                background-color: $sec2-4;

                &::after {
                  background: url(../img/promotion/sec2-arrow-4.svg) center
                    bottom no-repeat;
                }
              }
            }
          }

          &:nth-child(5) {
            padding-bottom: 56%;
            margin: 60px 0 0 auto;
            width: 35.5%;
            background: url(../img/promotion/ladder-5.svg) center bottom
              no-repeat;
            position: relative;
            z-index: 1;

            .detail {
              padding-top: 44px;

              &__title {
                height: 45px;
              }

              &::before {
                content: "";
                width: 50px;
                height: 34px;
                background: url(../img/promotion/crown.svg) center bottom
                  no-repeat;
                position: absolute;
                top: 5px;
                left: 62%;
                @include animation(heartBeat, 2s, 0s, ease, infinite, forwards);
              }
            }
          }
        }

        &::before {
          content: "";
          padding-bottom: 22%;
          width: 23%;
          background: url(../img/promotion/sec2-flag.svg) center bottom
            no-repeat;
          position: absolute;
          bottom: 92%;
          left: 90%;
          z-index: -1;
        }
      }

      &[data-aos="board-animation"] {
        .figure {
          &__list {
            &::before {
              opacity: 0;
            }

            li {
              opacity: 0;
            }
          }

          &__people {
            opacity: 0;
          }

          &__airplane {
            &::before {
              opacity: 0;
            }

            &::after {
              opacity: 0;
            }
          }
        }

        &.aos-animate {
          .figure {
            &__people {
              @include animation(
                jump1,
                1.5s,
                0.5s,
                cubic-bezier(0.33, 0.66, 0.53, 1.31),
                1,
                both
              );

              &::before {
                @include animation(jump2, 1.5s, 0.5s, linear, 1, both);
              }
            }

            &__airplane {
              &::before {
                @include animation(airplane, 0.6s, 1.2s, ease, 1, both);
              }

              &::after {
                @include animation(fadeInUpMore, 0.3s, 0.9s, ease, 1, both);
              }
            }

            &__list {
              &::before {
                @include animation(fadeInUpMore, 0.3s, 1.8s, ease, 1, both);
              }

              li {
                &:nth-child(1) {
                  @include animation(fadeInUpMore, 0.3s, 0s, ease, 1, both);
                }

                &:nth-child(2) {
                  @include animation(fadeInUpMore, 0.3s, 0.15s, ease, 1, both);
                }

                &:nth-child(3) {
                  @include animation(fadeInUpMore, 0.3s, 0.3s, ease, 1, both);
                }

                &:nth-child(4) {
                  @include animation(fadeInUpMore, 0.3s, 0.45s, ease, 1, both);
                }

                &:nth-child(5) {
                  @include animation(fadeInUpMore, 0.3s, 0.6s, ease, 1, both);
                }
              }
            }
          }
        }
      }
    }
  }
}

#promotion-2 {
  padding-top: 90px;
  padding-bottom: 134px;
  margin-top: -110px;
  background: url(../img/promotion/bg-sec3.png) center bottom no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;

  .container {
    justify-content: end;
    align-items: start;
    margin-top: 60px;

    &__left {
      position: relative;

      h3 {
        padding: 6px 40px 6px 30px;
        font-size: 28px;
        font-weight: 500;
        color: white;
        background-color: $color-blue;
        border: 2px solid white;
        position: absolute;
        bottom: -40px;
        left: -22px;

        &::after {
          content: "";
          display: block;
          width: 45px;
          height: 45px;
          background: url(../img/promotion/red-mark.svg) center center no-repeat;
          position: absolute;
          top: -20px;
          right: -12px;
        }
      }
    }

    &__right {
      padding-left: 50px;

      h2 {
        display: inline-block;
        padding: 6px 18px;
        margin-bottom: 22px;
        margin-left: -6px;
        font-size: 32px;
        color: white;
        background-color: $color-red;
        position: relative;

        &::after {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 26px 0 26px 24px;
          border-color: transparent transparent transparent $color-red;
          position: absolute;
          top: 0;
          left: 100%;
        }
      }

      ul {
        li {
          padding-left: 30px;
          margin-bottom: 10px;
          font-size: 18px;
          line-height: 22px;
          color: $txt-brown;
          position: relative;

          &::before {
            content: "";
            width: 20px;
            height: 20px;
            background: url(../img/promotion/red-check.svg) center center
              no-repeat;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}

#join {
  padding-top: 90px;
  padding-bottom: 50px;
  margin-top: -100px;
  background: url(../img/join/bg-sec4.png) center bottom no-repeat;
  background-size: cover;
  position: relative;
  z-index: 3;

  .w1200 {
    width: 90%;
  }

  .container {
    padding-top: 50px;

    .title {
      .pic {
        &::before,
        &::after {
          content: "";
          width: 33px;
          height: 33px;
          background: url(../img/join/sec-title-dec3.svg) center bottom
            no-repeat;
          position: absolute;
          bottom: 0;
        }

        &::before {
          left: calc(50% - 165px);
        }

        &::after {
          right: calc(50% - 165px);
        }
      }
    }

    .content {
      margin-top: 60px;
      max-width: 1000px;
      position: relative;

      .doll1,
      .doll2 {
        &::before {
          content: "";
          width: 33px;
          height: 33px;
          background: url(../img/join/heart-1.svg) center center no-repeat;
          opacity: 0;
          position: absolute;
        }

        &::after {
          content: "";
          width: 41px;
          height: 50px;
          background: url(../img/join/heart-2.svg) center center no-repeat;
          opacity: 0;
          position: absolute;
        }
      }

      .doll1 {
        width: 15.6%;
        position: absolute;
        bottom: 93%;
        left: 6%;
        z-index: 1;

        &::before {
          top: 29%;
          left: 134%;
          transform: scaleX(-1);
          @include animation(heart2, 5s, -3.5s, ease, infinite, forwards);
        }

        &::after {
          top: 35%;
          left: 103%;
          transform: scaleX(-1);
          @include animation(heart2, 5s, -3.5s, ease, infinite, forwards);
        }
      }

      .doll2 {
        width: 14%;
        position: absolute;
        right: 6%;
        bottom: 89%;
        z-index: 1;

        &::before {
          top: 25%;
          right: 148%;
          @include animation(heart1, 5s, -3.5s, ease, infinite, forwards);
        }

        &::after {
          top: 31%;
          right: 110%;
          @include animation(heart1, 5s, -3.5s, ease, infinite, forwards);
        }
      }
    }
  }
}

#about {
  padding: 0 0 10%;
  margin: -4.5% 0 0;
  background-size: 100% auto;
  position: relative;
  z-index: 2;

  &::before {
    content: "";
    display: block;
    padding-bottom: 4.7917%;
    width: 100%;
    height: 0;
    background-size: cover;
  }

  &::after {
    content: "";
    display: block;
    padding-bottom: 46.51%;
    width: 100%;
    height: 0;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .cloud {
    position: absolute;

    &.cloud-1 {
      width: 6%;
      top: 15%;
      right: 80%;
      @include animation(cloud, 5s, -3.5s, ease, infinite, both);
      @include animation-direction(reverse);
    }

    &.cloud-2 {
      width: 16%;
      top: 30%;
      left: -5%;
      @include animation(cloud, 5s, 0s, ease, infinite, both);
    }

    &.cloud-3 {
      width: 15%;
      top: 5%;
      right: -6%;
      @include animation(cloud, 5s, -2s, ease, infinite, both);
    }
  }

  .container {
    padding: 0 0 1px;
    position: relative;
    z-index: 2;
  }

  .scroll-hint {
    letter-spacing: 0.1em;
    padding-bottom: 3em;
    margin-bottom: 1.5em;
    position: relative;
    @include animation(hint, 2s, 0s, ease, infinite, both);

    &::after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 2.25em;
      height: 2.25em;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid $color-text;
      border-right: 1px solid $color-text;
      @include transform(scale(1, 0.7) rotate(45deg));
      @include transition(transform 0.25s ease);
    }

    &:hover {
      &::after {
        @include transform(scale(1, 0.7) translate(0, 10%) rotate(45deg));
      }
    }
  }

  h2 {
    strong {
      font-size: 1.5em;
    }

    + p {
      margin: 1em 0 1.5em;
      font-weight: 300;
      letter-spacing: 0.08em;
    }
  }

  .feature-container {
    margin-bottom: 7em;

    li {
      padding: 0 1.5em;

      img {
        margin: 0 auto 0.25em;
        width: 4.5em;
      }
    }
  }

  .title-container {
    padding: 1em 5% 0.5em;
    margin: 0 auto 3em;
    max-width: 960px;
    position: relative;

    .deco-top {
      width: 74px;
      position: absolute;
      top: 0;
      right: 0;
    }

    .deco-bottom {
      width: 56px;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .title {
      width: 50%;
    }

    .txt {
      margin-left: 1.5em;
      font-size: 1.25em;
    }

    h2 {
      margin-bottom: 0;
      font-size: 2.2em;
      letter-spacing: 0.08em;

      + p {
        margin: 0;
        font-size: 1.5em;
        font-weight: 300;
      }
    }
  }

  figure {
    position: relative;

    .join {
      font-size: 3em;
      font-family: "Times New Roman", $font-serif;
      color: white;
      position: absolute;
      top: 1em;
      left: 1em;
      z-index: 2;
      font-style: italic;
      letter-spacing: 0.04em;
      line-height: 1;
    }

    .content {
      padding: 1.5em 4em 1.5em 2em;
      margin: 2.5em 9% 2.5em auto;
      width: 45%;
      max-width: 29em;
      border-radius: 2em;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;

      li {
        margin-bottom: 1.5em;
      }

      h3 {
        margin-bottom: 0.25em;
        font-size: 1.75em;
        font-weight: 900;
        letter-spacing: 0.08em;
      }

      p {
        font-size: 1.15em;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 0.06em;
      }
    }

    .family {
      width: 15%;
      position: absolute;
      right: 1em;
      bottom: -1em;
      z-index: 2;
    }
  }
}

@media screen and (max-width: 1920px) {
  #board {
    .board__figure__footer {
      background-size: cover;
    }
  }

  #promotion {
    .bg {
      &::before {
        content: "";
        width: 100%;
        height: 52%;
        background-size: cover;
        bottom: 50px;
      }

      &::after {
        content: "";
        width: 100%;
        height: 42%;
        background-size: cover;
        position: absolute;
        bottom: 50px;
      }
    }
  }

  #promotion-2 {
    margin-top: -170px;
    background-position: center top;
  }
}
@media screen and (max-width: 1440px) {
  #kv {
    figure {
      h1 {
        width: 45%;
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  #kv .kv__content__buttons--left img {
    width: 200px;
    top: 2px;
  }

  #promotion-2 .container__left h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 1024px) {
  #kv {
    .kv__content {
      bottom: 72px;

      &__buttons--left {
        max-width: 530px;

        li {
          font-size: 20px;
        }

        img {
          width: 190px;
          top: 1px;
        }
      }
    }

    .kv__footer {
      img {
        width: 120px;
        right: calc(50% + 250px);
      }

      h2 {
        height: 50px;
        font-size: 22px;
      }
    }
  }

  #promotion .container .figure {
    margin-left: 0;
  }

  #join .container .content {
    width: 95%;
  }
}
@media screen and (max-width: 1023px) {
  #kv .kv__content__buttons--left img {
    width: 150px;
    top: 5px;
  }

  #promotion-2 .container__left h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 820px) {
  #kv {
    .kv__content {
      &__buttons--left {
        max-width: 440px;

        li {
          font-size: 14px;
        }

        img {
          width: 160px;
        }
      }
    }

    .kv__footer {
      img {
        width: 120px;
      }

      h2 {
        font-size: 16px;
      }
    }
  }

  #board .board__container {
    .content {
      &__card {
        h4 {
          font-size: 22px;
        }

        ul li {
          font-size: 16px;

          &.check::before {
            width: 22px;
            height: 25px;
            top: -3px;
          }

          &.txt-16 {
            font-size: 12px;
          }
        }

        &__button {
          font-size: 12px;

          .icon {
            font-size: 22px;

            img {
              margin-left: 6px;
              width: 44px;
            }
          }
        }
      }

      &__footer {
        &__content {
          ul li {
            font-size: 18px;
          }

          &__button {
            font-size: 14px;

            .icon {
              font-size: 22px;

              img {
                margin-left: 8px;
                width: 60px;
              }
            }
          }
        }

        &__title h3 {
          font-size: 32px;
        }
      }
    }
  }

  #promotion {
    padding-bottom: 85px;

    .container .figure {
      &__list {
        margin-left: -5%;
        width: 110%;
        font-size: 16px;

        li {
          .detail {
            padding: 10px 10px 0;
          }

          &:nth-child(5) {
            .detail {
              padding-top: 24px;

              &::before {
                top: -13px;
                left: 64%;
              }
            }
          }
        }
      }
    }
  }

  #promotion-2 {
    .container__right {
      h2 {
        font-size: 28px;

        &::after {
          border-width: 23px 0 24px 22px;
        }
      }

      ul li {
        font-size: 16px;

        &::before {
          top: 1px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .title {
    h2 {
      padding: 4px 16px 6px;
      margin-top: 10px;
      font-size: 18px;
    }
  }

  #kv {
    .kv {
      &__figure {
        padding-bottom: 158.33%;
        background: url(../img/kv/kv-bg-m.jpg) center center no-repeat;
        background-size: cover;

        &__scooter {
          width: 80%;
          top: auto;
          right: -8%;
          bottom: 5%;
          left: auto;
          transform: rotate(0deg);
        }

        &__sign {
          width: 12%;
          position: absolute;
          top: 51.5%;
          left: 2%;
        }

        &__tree {
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }

      &__content {
        justify-content: start;
        bottom: auto;

        h1 {
          padding-top: 10px;
          padding-left: 0;
          width: 90%;
        }

        &__buttons {
          padding: 10px 0;
          margin: 0 auto;
          width: 90%;
          background: none;

          &--title {
            margin: 0 auto 5px;
            width: 45%;
          }

          &--left {
            justify-content: space-around;
            padding-right: 0;
            width: 100%;
            max-width: 440px;

            li {
              padding: 8px 15px;
              font-size: 22px;
            }
          }
        }
      }

      &__footer {
        border-top: 6px solid #8e0325;
        border-bottom: 4px solid #8e0325;
        padding: 10px 0 6px;

        h2 {
          display: inline-block;
          padding-left: 140px;
          width: auto;
          font-size: 18px;
          text-align: left;

          span {
            display: block;
          }
        }

        img {
          width: 110px;
          right: calc(50% + 45px);
          bottom: -5px;
        }
      }
    }
  }

  #board {
    margin-bottom: 28%;

    .board {
      &__figure {
        &__pic {
          padding: 0;

          .tree {
            width: 100%;
            height: auto;
            position: absolute;
            bottom: 0;
          }
        }

        &__footer {
          padding-bottom: 28%;
          width: 100%;
          height: auto;
          background: url(../img/board/sec1-wall-m.svg) left bottom repeat;
          background-size: cover;
        }
      }

      &__people {
        .doll-f {
          right: 72%;
        }

        .doll-m {
          left: 72%;
        }
      }

      &__container {
        padding-bottom: 80px;

        .content {
          flex-direction: column;
          padding: 15px;
          max-width: 380px;
          background-color: #005947;
          border: 10px solid transparent;
          border-image: url("../img/board/blackboard-m_1.jpg") 1% round;

          &__card {
            margin-bottom: 30px;
            width: 100%;

            ul li {
              &.mb-right {
                margin-bottom: 30px;
              }
            }
          }

          &__footer {
            padding-bottom: 20px;
            margin: 0 auto;

            &__title h3 {
              &::before,
              &::after {
                display: none;
              }
            }

            &__content {
              flex-direction: column-reverse;
              padding-right: 0;

              &__button {
                margin-top: 20px;
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }

  #promotion {
    .container .figure {
      &__cloud {
        &::before {
          content: none;
        }

        &::after {
          padding-bottom: 19%;
          width: 43%;
          top: 5%;
          left: -20%;
        }
      }

      &__cloud-2 {
        &::before {
          padding-bottom: 23%;
          width: 52%;
        }

        &::after {
          padding-bottom: 15%;
          width: 38%;
          top: 30%;
          right: -8%;
        }
      }

      &__airplane {
        &::before {
          padding-bottom: 35%;
          width: 100%;
          top: -37%;
          left: -3%;
        }

        &::after {
          content: none;
        }
      }

      &__people {
        margin-left: calc(50% - 184px);
        max-width: 350px;
        z-index: 2;

        &::after {
          padding-bottom: 60%;
          width: 50%;
          bottom: 95%;
          left: 17%;
        }
      }

      &__list {
        margin: auto;
        max-width: 366px;

        li {
          .detail {
            padding: 10px 14px 0;

            &__date {
              padding: 4px 26px 5px 12px;
              border-radius: 60px;

              &::after {
                content: "";
                width: 26px;
                height: 40px;
                position: absolute;
                top: -10px;
                right: -2px;
              }
            }
          }

          &:nth-child(1) {
            padding-bottom: 0;
            width: 52%;
            height: 182px;
            background: url(../img/promotion/ladder-1-m.png) center bottom
              no-repeat;
            background-size: 100% 100%;
            right: 48%;
            left: auto;

            .detail {
              padding-top: 14px;

              &__title {
                height: 25px;
              }

              &::before {
                top: -13px;
                left: 68%;
              }
            }
          }

          &:nth-child(2) {
            padding-bottom: 0;
            width: 52%;
            height: 255px;
            background: url(../img/promotion/ladder-2-m.png) center bottom
              no-repeat;
            background-size: 100% 100%;
            right: 40%;
            left: auto;

            .detail {
              padding-top: 14px;

              &__title {
                height: 25px;
              }

              &::before {
                top: -13px;
                left: 68%;
              }
            }
          }

          &:nth-child(3) {
            padding-bottom: 0;
            width: 52%;
            height: 330px;
            background: url(../img/promotion/ladder-3-m.png) center bottom
              no-repeat;
            background-size: 100% 100%;
            right: 30%;
            left: auto;

            .detail {
              padding-top: 14px;

              &__title {
                height: 25px;
              }

              &::before {
                top: -13px;
                left: 68%;
              }
            }
          }

          &:nth-child(4) {
            padding-bottom: 0;
            width: 58%;
            height: 400px;
            background: url(../img/promotion/ladder-4-m.png) center bottom
              no-repeat;
            background-size: 100% 100%;
            right: 16%;
            left: auto;

            .detail {
              padding-top: 14px;

              &__title {
                height: 25px;
              }

              &::before {
                top: -13px;
                left: 68%;
              }
            }
          }

          &:nth-child(5) {
            padding-bottom: 0;
            margin-top: 187px;
            width: 66%;
            height: 470px;
            background: url(../img/promotion/ladder-5-m.png) center bottom
              no-repeat;
            background-size: 100% 100%;

            .detail {
              padding-top: 22px;

              &__title {
                height: 32px;
              }
            }
          }
        }

        &::before {
          padding-bottom: 29%;
          width: 29%;
          bottom: 101%;
          left: 72%;
          z-index: -1;
          transform: rotate(-30deg);
        }
      }
    }
  }

  #promotion-2 {
    padding-top: 50px;
    padding-bottom: 180px;
    background: url(../img/promotion/sec3-bg-m.png) center top no-repeat;
    background-size: cover;

    .container {
      flex-direction: column-reverse;

      &__left {
        margin: auto;

        h3 {
          font-size: 22px;
          left: 4%;
        }
      }

      &__right {
        padding-left: 0;
        margin: 0 auto 25px;

        h2 {
          margin-left: calc(50% - 140px);
        }
      }
    }
  }

  #join {
    background: url(../img/join/sec4-bg-m.png) center top no-repeat;
    background-size: cover;

    .container {
      padding-top: 0;

      .content {
        padding-top: 80px;
      }
    }
  }
}
@media screen and (max-width: 620px) {
  #board {
    .board__container {
      .title {
        .pic {
          &::before,
          &::after {
            width: 35px;
            height: 38px;
          }

          &::before {
            left: calc(50% - 130px);
          }

          &::after {
            right: calc(50% - 130px);
          }
        }
      }
    }
  }

  #promotion {
    .container {
      .title {
        .pic {
          &::before,
          &::after {
            width: 50px;
            height: 27px;
          }

          &::before {
            left: calc(50% - 138px);
          }

          &::after {
            right: calc(50% - 138px);
          }
        }
      }
    }
  }

  #join {
    .container {
      .title {
        .pic {
          &::before {
            left: calc(50% - 122px);
          }

          &::after {
            right: calc(50% - 122px);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  #kv {
    .kv {
      &__content {
        h1 {
          padding-top: 5px;
        }

        &__buttons {
          padding: 5px 0;

          &--left {
            max-width: 320px;

            li {
              padding: 6px 15px;
              font-size: 14px;
              border-width: 2px;
            }
          }
        }
      }
    }
  }

  #board .board__container .content__card h4 {
    width: 180px;
  }

  #promotion {
    .container {
      .figure {
        &__people {
          margin-left: 0;
          max-width: 350px;
        }

        &__list {
          margin: 0 0 0 -5%;
          max-width: none;
        }
      }
    }
  }

  #join {
    padding-top: 60px;

    .container {
      .content {
        padding-top: 35px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  #kv {
    .kv {
      &__content {
        &__buttons {
          &--left {
            li {
              font-size: 12px;
            }
          }
        }
      }

      &__footer {
        h2 {
          padding-left: 110px;
          font-size: 16px;
        }

        img {
          right: calc(50% + 30px);
        }
      }
    }
  }

  #promotion-2 {
    .container {
      margin-top: 30px;

      &__left {
        h3 {
          font-size: 18px;
        }
      }
    }
  }

  #join {
    padding-top: 40px;

    .container {
      .content {
        padding-top: 25px;
      }
    }
  }
}
