@charset 'utf-8';

/* -------------SELECTION--------- */
::selection {
  color: white;
  background: $color-primary;
}

/* -------------MAIN-------------- */
body {
  opacity: 0;
  scroll-behavior: smooth;

  &.loaded {
    opacity: 1;
  }
}

.sr-only {
  overflow: hidden;
  padding: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  border: 0;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.adBar {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    margin: 0 auto;
    max-width: 1140px;
    font-size: 12px;
    position: relative;
  }

  .left {
    font-size: 16px;
    font-weight: 600;
  }
}

#btn-fix {
  width: 160px;
  opacity: 0;
  position: fixed;
  top: 40%;
  left: 89%;
  z-index: 5;
  cursor: pointer;
  pointer-events: none;
  @include transition(all 0.25s ease);

  img {
    margin: 0 auto 10px;
    width: 120px;
  }

  .wave,
  .wave-2,
  .wave-3 {
    content: "";
    width: 180px;
    height: 180px;
    background-color: rgba(223, 0, 42, 1);
    border-radius: 150px;
    position: absolute;
    top: -30px;
    left: -10px;
    z-index: -1;

    @include transition(all 0.5s ease);
  }

  .wave {
    @include animation(wave, 2s, 0s, ease, infinite, forwards);
  }

  .wave-2 {
    @include animation(wave, 2s, 0.2s, ease, infinite, forwards);
  }

  .wave-3 {
    @include animation(wave, 2s, 0.4s, ease, infinite, forwards);
  }

  h2 {
    padding: 4px 12px;
    font-size: 26px;
    color: white;
    border: 3px solid #6d0d29;
    letter-spacing: 0;
    border-radius: 18px;
    @include linear-gradient(
      to top,
      $gradient-red-from 0%,
      $gradient-red-to 100%
    );
  }

  .hover {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    @include transition(opacity 0.25s ease);
  }

  &:hover {
    .hover {
      opacity: 1;
    }
    @include scale(1.1, 1.1);
  }

  &:active {
    @include scale(0.95, 0.95);
  }

  &.is-show {
    pointer-events: auto;
    opacity: 1;
  }
}

@media screen and (max-width: 1440px) {
  #btn-fix {
    right: 1em;
    left: auto;
  }
}
@media screen and (max-width: 1024px) {
  #btn-fix {
    width: 120px;

    img {
      width: 80px;
    }

    .wave,
    .wave-2,
    .wave-3 {
      width: 120px;
      height: 120px;
      top: -20px;
      left: 0;
    }

    h2 {
      font-size: 18px;
    }
  }
}
@media screen and (max-width: 768px) {
  body {
    padding-bottom: 4em;
  }

  #btn-fix {
    width: 100%;
    text-align: center;
    opacity: 1 !important;
    top: auto;
    right: 0;
    bottom: 0;

    &:hover {
      @include transform(none);
    }

    @include animation-name(none);

    h2 {
      margin: 0;
      font-size: 28px;
      border-radius: 0;
    }
  }
}
