/* stylelint-disable rule-empty-line-before */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable scss/at-mixin-pattern */

/*  Box Sizing */
@mixin box-sizing($val) {
  box-sizing: $val;
}

/* SCROLLBAR */
@mixin scrollbar() {
  overflow-y: auto;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: light;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-red;
  }
  &::-webkit-scrollbar-track {
    background-color: $color-dark-red;
  }
}

/*  Text Truncate */
@mixin truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin line-clamp($height, $line) {
  display: box;
  overflow: hidden;
  height: $height;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

/* TRANSITION */
@mixin transition($transition...) {
  transition: $transition;
}
@mixin transition-property($property...) {
  transition-property: $property;
}
@mixin transition-duration($duration...) {
  transition-property: $duration;
}
@mixin transition-timing-function($timing...) {
  transition-timing-function: $timing;
}
@mixin transition-delay($delay...) {
  transition-delay: $delay;
}

/* TRANSFORM */
// generic transform
@mixin transform($transforms) {
  transform: $transforms;
}

// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($x, $y) {
  @include transform(scale($x, $y));
}

// translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

// translateZ
@mixin translateZ($z) {
  @include transform(translateZ($z));
}

// skew
@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

// transform origin
@mixin transform-origin($origin) {
  transform-origin: $origin;
}

/* ANIMATION */
@mixin animation(
  $animation,
  $duration,
  $delay,
  $easing,
  $iteration,
  $fillmode
) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-timing-function: $easing;
  animation-iteration-count: $iteration;
  animation-fill-mode: $fillmode;
}
@mixin animation-name($animation-name) {
  animation-name: $animation-name;
}
@mixin animation-delay($delay) {
  animation-delay: $delay;
}
@mixin animation-direction($direction) {
  animation-direction: $direction;
}

@mixin keyframes($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}

/* GRADIENT */
@mixin linear-gradient($direction, $color-stops...) {
  background-color: nth(nth($color-stops, 1), 1);
  background-image: linear-gradient($direction, $color-stops);
}
