// COLOR
$color-lighter: #d2d2d2;
$color-light: #808080;
$color-text: #000;
$color-primary: #ef5f23;
$color-secondary: #613f30;
$color-highlight: #fef447;
$color-pink: #e54c6b;
$color-green: #6b8d74;
$bg-light: #e4efe7;
$bg-primary: #f26d35;

// COLOR
$color-grey: #f2f2f2;
$border-blue: #0076b3;
$color-red: #df002a;
$color-dark-red: #8e0325;
$color-blue: #0077b3;
$btn-blue: #036a9d;
$btn-bg-title: #910c28;
$btn-border-title: #feb61c;
$btn-shadow-title: #9b4b15;
$bg-sec2-from: #2a7ce6;
$bg-sec2-to: #9be1ff;
$sec2-1: #750e36;
$sec2-2: #264687;
$sec2-3: #537516;
$sec2-4: #e54c00;
$txt-yellow: #fcee21;
$txt-orange: #feb61c;
$txt-brown: #47280e;
$txt-red: #990729;
$txt-black: #1a1a1a;
$txt-blue: #0177b4;
$book-bg-page: #efdec5;
$book-bg-page-out: #f9f2ea;
$book-bg-outside: #27345b;
$book-bg-middle: #19657c;
$gradient-blue-from: #323793;
$gradient-blue-to: #0995db;
$gradient-bg-blue-from: #2a7ce6;
$gradient-bg-blue-to: #9be1ff;
$gradient-red-from: #83001f;
$gradient-red-to: #df002a;
$gradient-red-border: #6d0d29;

// FONT
$font-content: "Noto Sans TC", "微軟正黑體", "Microsoft Jhenghei", "Helvetica",
  "Arial", sans-serif;
$font-title: $font-content;
$font-serif: "Noto Serif TC", $font-content;
$font-en: "Arial", $font-content;
